.cartButton {
    width: 110px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.content-container {
    background-color: rgb(158, 105, 134);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
}
#greenBackground {
    background-color: #76b963
}
.greenBackground {
    height: 100%;
    background-color: #76b963
}
.green-container {
    height: 100px;
}
#background1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#greenbar {
    background-color: #a1d693;
}
.background-row {
    background-image: url('images/fika1.png');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    text-align: center;
    padding-top: 50px; 
}
#opening-hours-text {
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
#opening-hours-header {
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.topnav {
    display: flex;
    justify-content: center;
    
}
.topnav a {
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.topnav a:hover {
    color: black;
}
.topnav a:active {
    background-color: #04aa6d;
    color: white;
}
.text-box {
    background-color: rgb(158, 105, 134);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-and-text {
    background-color: #76b963;
}
.lightbox-gallery {
    background-color: #76b963 !important;
}
.lightbox-gallery .item {
    padding-bottom:30px
}
.modal-picture {
    width: 465px;
}
#modal-background {
    background-color: rgb(17, 49, 49) !important;
}
