.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}
.topnav {
    display: flex;
    justify-content: center;
    background-color: #a1d693;
}
.topnav a {
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}
#fika1 {
    width: 100%;
}