.cartButton {
    width: 110px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.content-container {
    background-color: rgb(158, 105, 134);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
}
#greenBackground {
    background-color: #76b963
}
.greenBackground {
    height: 100%;
    background-color: #76b963

}
#background1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#greenbar {
    background-color: #a1d693;
}
.text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-family: 'Arial', sans-serif; 
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    width: 100%;
}
.topnav {
    display: flex;
    justify-content: center;
    
}
.topnav a {
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.topnav a:hover {
    color: black;
}
.topnav a:active {
    background-color: #04aa6d;
    color: white;
}
.text-box {
    background-color: rgb(158, 105, 134);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-and-text {
    background-color: #76b963;
}
.lightbox-gallery {
    background-color: #76b963 !important;
}
.lightbox-gallery .item {
    padding-bottom:30px
}
.modal-picture {
    width: 465px;
}
#modal-background {
    background-color: rgb(17, 49, 49) !important;
}
